body{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.top{
  text-decoration: underline;
  background-color: lavender;
}
.Hero{
  border: 2px solid black;
}
.BgChanger{
  border: 2px solid black;
}
.Todo{
  margin-top: 1px;
  border: 2px solid black;
}
.Quiz{
  margin-top: 1px;
  border: 2px solid black;
}
.SpaceNews{
  margin-top: 1px;
  border: 2px solid black;
}
.VideoGame{
  margin-top: 1px;
  border: 2px solid black;
}