.MainBgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 4px;
}
.ChangeContainer {
    width: 65vw;
    height: 500px;
    background-color: lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChangeBar {
    width: 60vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.ChangeBar button {
    width: 20%;
}
.ChangeBar button:hover {
    background-color: gainsboro;
}